* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/meliodas-meliodas-sin-of-wrath-nanatsu-no-taizai-the-seven-deadly-sins-hd-wallpaper-preview.jpg);
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-attachment: fixed;
  background-color: rgba(102, 46, 46, 0.596);
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration-style: dotted;
  text-decoration: dashed;
  color: white;
  margin-left: 3rem;
}

section {
  margin: 30px;
  display: list-item;
  align-items: center;
  text-align: center;
  color: rgba(190, 18, 18, 0.74);
}

footer {
  background-color: rgba(102, 46, 46, 0.596);
  display: flex;
  margin-left: 3px;
  margin-left: 5rem;
  margin-right: 5rem;
  justify-content: space-between;
  text-align: center;
  color: white;
}

main {
  color: rgb(124, 40, 40);
}
.primera-seccion {
  text-align: left;
}
